services:
  - type: web
    name: stripe-applepay-demo
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_PUBLISHABLE_KEY
        sync: false
